.camera-container{
  width: 100%;
}
.ul-list{
  border: 2px solid red;
  height: 60vh;
  padding: 0px;
  overflow: scroll;
}
.image-container{
  border: 2px solid green;
  padding: 20px;
  min-height: 100vh;
}
.image-item{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  /* width: 100%; */
  padding: 10px;
  background-color: lightblue;
  margin-bottom: 20px;
}
.selfie-image{
  width: 100%;
  max-width: 450px;
}
.location-container{
  margin-left: 0px;
  font-weight: bold;
}
@media screen and (min-width:798px) {
  .location-container{
    margin-left: 20px;
    font-weight: bold;
  }
}